/* mobile media query */

@media screen and (max-width: 768px) {

    /* Responsive Styles */


/* navbar section styles */
.nav-container {
    flex-direction: column;
}

.logo-container {
    text-align: center;
    margin-bottom: 30px;
}

.nav-item-container {
    flex-direction: column;
    gap: 10px;
}

.nav-icons {
    justify-content: center;
}

/* banner section styles */
.banner-section {
    flex-direction: column;
}

.banner-text {
    text-align: center;
}

.banner-text h1 {
    font-size: 36px;
}

.banner-text p {
    font-size: 60px;
}

.banner-item a {
    font-size: 16px;
    padding: 3px;
}

.banner-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* main section styles */
.main-container {
    flex-direction: column;
}

.main-text {
    text-align: center;
}

.main-text h3 {
    font-size: 36px;
}

.main-text p {
    width: auto;
}

/* card-container styles */
.card {
    flex-direction: column;
    gap: 30px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    width: 100%;
    height: auto;
    margin: 0;
}

/* box section styles */
.box-container,
.box-container2 {
    flex-direction: column;
}

.box-text h3 {
    font-size: 36px;
}

.box-text p {
    width: auto;
}

.box-img {
    margin-left: 0;
    justify-content: center;
}

.img-1,
.img-2,
.img-3,
.img-4 {
    margin-left: 0;
}

/* last-section styles */
.last-section {
    grid-template-columns: repeat(1, 1fr);
}

.last-section div:hover {
    width: 100%;
    height: auto;
}

/* footer section styles */
.footer-section {
    padding-top: 50px;
    height: auto;
}

.footer-item-container,
.footer-img,
.footer-text {
    flex-direction: column;
    gap: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-container span {
    font-size: 30px;
}

.footer-item-container a {
    font-size: 16px;
}

.footer-small {
    margin-left: 0;
}

}