@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:ital,wght@0,600;0,800;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}


/* navbar section styles */

.nav-container {
    display: flex;
    min-height: 50px;
    background: #FFF;
    width: 1410px;
}

.nav-container img {
    object-fit: cover;
}

.nav-container span {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.nav-container .nav-span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-container {
    min-width: 50%;
    align-items: center;
}

.nav-item-container {
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.nav-item-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.btn-primary {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 245px;
    height: 43px;
    text-align: center;
    justify-content: center;
    padding-top: 8px;
}

.nav-icons {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-icons i {
    text-align: center;
    justify-content: space-around;
}

/* banner section styles */

.banner-section {
    min-width: 40px;
    display: flex;
}

.banner-text {
    min-width: 45%;
    margin-top: 80px;
}

.banner-text h1 {
    color: #0B0223;
    font-size: 48px;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
}

.banner-text p {
    margin-top: 10px;
    font-size: 90px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.banner-item a {
    font-size: 20px;
    padding: 5px;
    display: block;
    color: #534C64;
    text-transform: lowercase;
    text-decoration: none;
}

.banner-btn {
    padding-top: 40px;
}

.banner-btn1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-style: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.banner-btn2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border-style: none;
}

.banner-img {
    display: flex;
    min-width: 45%;
    margin-right: 20px;
}

/* main styles */
.main-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 1410px;
    height: 600px;
    display: flex;
}

.main-text {
    min-height: 50px;
    text-align: right;
}

.main-text h3 {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-text p {
    width: 520px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.main-btn {
color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-style: none;
}

.main-content span {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.main-content .main-span {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}


/* card-container styles */

.card-section{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}
.container {
    margin-left: 8px;
    position: relative;
    width: 95%;
}

.container p{
    color: #534C64;
font-size: 20px;
font-weight: 150;
line-height: 25px; 
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    padding: 16px 32px;
}


/* box section styles */

.box-container {
    display: flex;
}

.box-text h3 {
    color: #0B0223;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.box-text h3 span {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-text p {
    width: 353px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.box-img {
    position: relative;
}

.img-1 {
    width: 434.833px;
    height: 450px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
    margin-left: 600px;
}

.img-2 {
    margin-left: 500px;
    top: 270px;
    display: flex;
    position: absolute;
    width: 234.833px;
    height: 250px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
}

.box-container2 {
    margin-top: 250px;
    display: flex;
}

/* box-2 */
.img-3 {
    margin-left: 20px;
    width: 434.833px;
    height: 450px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
}

.img-4 {
    left: 370px;
    top: 270px;
    display: flex;
    position: absolute;
    width: 234.833px;
    height: 250px;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray -7.583px 0px / 102.389% 100% no-repeat;
}

.box-text2 {
    margin-left: 580px;
}

.box-text2 h3 {
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.box-text2 h3 span {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-text2 p {
    width: 350px;
    color: #534C64;
    font-size: 17px;
    font-weight: 380;
    line-height: 25px;
}


/* last-section styles */
.last-section {
    margin-top: 120px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 30px;
}

.last-section div {
    display: flex;
    align-items: center;

}

.last-section p {
    color: #0B0223;
    font-size: 15px;
    font-weight: 550;
}

.last-section div:hover {
    cursor: pointer;
    background: white;
    border: 2px solid #F948B2;
    border-radius: 40px;
    align-items: center;
    width: 240px;
    height: 60px;
}


/* footer section styles */

.footer-section{
    padding-top: 90px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background: #0B0223;
height: 450px;
}
.footer-container{
  display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container  span {
    color: white;
    font-size: 45px;
    font-weight: 700;
}

.footer-container .nav-span {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

.footer-item-container{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.footer-item-container a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
}

.footer-img{
    align-items: center;
    justify-content: center;
   padding: 10px;
    margin-left: 550px;
   gap: 10px;
}


.footer-text{
   padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.footer-text a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 500;
}

.footer-small{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
justify-content: center;
margin-left: 550px;
font-size: 12px;
font-weight: 450;
padding-top: 20px;
}